<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/JS/jquery-3.4.1.js"></script>
    <script src="~/JS/jquery.tmpl.js"></script>
    <script src="~/JS/paging.js"></script>
    <link href="~/JS/paging.css" rel="stylesheet" />
    @RenderSection("styles");
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @RenderSection("scripts");
</body>
</html>
